@{
    ViewData["Title"] = "Creditos";
}
<body class="clase-credito">
    <div class="credits">
        <h1>Creadores de la página web</h1>
        <img src="~/Img/creditos.jpg" alt="Imagen de créditos">
        <div class="team-member">
            <h2>Iair Dyner</h2>
            <h4>Programador y diseñador</h4>
        </div>
        <div class="team-member">
            <h2>Juan Rozenbeim</h2>
            <h4>Programador y base de datos</h4>
        </div>
    </div>
</body>





