@{
    ViewData["Title"] = "Index";
}
<header>

</header>

<h1 href="Titulo-JJOO">JUEGOS OLÍMPICOS PARIS 2024</h1>
<img src="~/Img/Foto_paris.webp" class="img-fluid" alt="...">
 <h3 href="bajo-img">Los Juegos Olímpicos de París 2024 prometen ser un evento inolvidable,
  donde atletas de todo el mundo se reunirán para competir en un espíritu de amistad y excelencia.
   Con París como anfitrión,
  estos juegos reflejan una combinación única de historia, cultura y deporte.</h3>
<h4>En esta página podrás navegar, informandote sobre los deportistas, 
deportes y países agregados en nuestra base de datos. Al mismo tiempo, puedes agregar deportistas, 
deportes y países para que el resto los vea</h4>


