@{
    ViewData["Title"] = "Index";
}
<header>

</header>
<body>
<h1 class="Titulo-JJOO">JUEGOS OLÍMPICOS PARIS 2024</h1>
<div>
<img class="fotoIndex" src="~/Img/Foto_paris.webp">
</div>
<h2 class ="titulo-img">Francia-Paris</h2>
 <h3 class="bajo-img">Los Juegos Olímpicos de París 2024 prometen ser un evento inolvidable,
  donde atletas de todo el mundo se reunirán para competir en un espíritu de amistad y excelencia.
   Con París como anfitrión,
  estos juegos reflejan una combinación única de historia, cultura y deporte.</h3>
<h4 class="info">En esta página podrás navegar, informandote sobre los deportistas, 
deportes y países agregados en nuestra base de datos. Al mismo tiempo, puedes agregar deportistas, 
deportes y países para que el resto los vea</h4>

<img src="~/Img/medallero.png" class="rounded mx-auto d-block" alt="...">
<h2 class ="titulo2">MEJORES MOMENTOS</h2>
<div class="container">
  <img class="momentos" src="~/Img/FotoSurf.jpg">
  <img class="momentos" src="~/Img/maligno.jpg">
  <img class="momentos" src="~/Img/golFermin.webp">
</div>






</body>

