@{
    ViewData["Title"] = "Index";
}

<header>
    <h1>Index</h1>
    <p>Bienvenidos al sitio web de los JJOO</p>

</header>

<h3>En esta página podrás navegar, informandote sobre los deportistas, deportes y países agregados en nuestra base de datos. Al mismo tiempo, puedes agregar deportistas, deportes y países para que el resto los vea</h3>


