html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

*{
  margin: 0px;
  padding: 0px;
}


footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}

.fotoIndex{
  max-width: 100%;
  height: 60%;
}


.Titulo-JJOO{
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  background: linear-gradient(45deg, #ffeb3b, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  border: 5px solid #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}




.bajo-img{
margin: 10px;
font-family: Arial, sans-serif ;
text-align: center;
font-weight: bold;
margin-top: 10px;
border-top: solid black 1px;
}
.info{
  margin: 10px;
  border-bottom:  solid black 1px;


}
.titulo-img{
  color: (45deg, #2212b1, #ec1d0e);
  margin: 10px;
  padding: 10px;
  vertical-align: baseline;
  font-size: 41.6px;
  font-weight: 900;
  letter-spacing: 0,3px;
  line-height: 64px;
  text-transform: uppercase;
  text-align: center;
}
.titulo2{
  margin: 10px;
  padding: 10px;
  vertical-align: baseline;
  color: rgb(0, 0, 0);
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 0.018rem;
  line-height: 4rem;
  text-transform: uppercase;
  border-bottom: solid black 1px;

}


.clase-credito{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}
.credits {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.credits h1 {
  color: #444;
}

.credits img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.team-member {
  margin-bottom: 20px;
}

.team-member h2 {
  margin: 0;
  color: #333;
}

.team-member h4 {
  margin: 5px 0;
  color: #666;
}
.imgP, .imgD{
  float: left;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;;
}
.imgP:hover{
  
}
.tituloPais{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 border-bottom: 2px solid black;
 
}

footer{
  clear: both;
}
.im{

  width: 100%;
  height: 100%;
}
.imgPais{
  width: 40%;
  height: 40%;
}
.imgdeporte{
  width: 20%;
  height: 20%;
}
.momentos{
  height: 300px;
  width: 400px;
  margin: 10px; 
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}